/*

  Copyright (C) 2010 Christian Bockermann <chris@jwall.org>
   
  This file is part of the jwall-rbld program. jwall-rbld is an implementation 
  of a simple DNS server for running a local, customized real time block-list. 
  More information and documentation for the jwall-rbld can be found at
  
                     http://www.jwall.org/jwall-rbld
  
  This program is free software; you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation; either version 3 of the License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License along with this 
  program; if not, see <http://www.gnu.org/licenses/>.

*/

html {
	background-color: white;	
}

body { 
       font-family : Verdana,arial,sans-serif; 
       font-size : 13px; 
       color: #111;
       line-height: 150%;
	background: white;
	   background-color: white;
       //       margin-left: 40px;
//       margin-right: 40px;
       width: 800px;
       margin: auto;
	padding: 20px;
}
.important { color : blue; }
.caution { color : red; }

div { 
     text-align: justify;
}

div.mediaobject { 
   margin: auto;
   text-align: center;
}

div.variablelist span.term { 
   font-weight: bold;
   color: #555;
}

pre { 
      margin-left: 30px;
      margin-right: 60px;
      padding: 10px;
      border: solid 1px #aaa;
      background-color: #eee;
      font-size: 10pt;
}

h1 {
  font-size: 22px;
  font-weight: normal;
  color : #233c51;
  //background: transparent url('images/bullet.jpg') no-repeat center left;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-left: 0px;
  margin: 0px;
  border-bottom: #f0f0f0 solid 1px;
}

h1 a:link, h1 a:visited {
  font-size: 24px;
  color : #233c51;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  padding-left: 0px;
  padding-top: 2px;
  color : #233c51;
  margin: 0px;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  padding-top: 8px;
  color : #233c51;
  margin: 0px;
  margin-top: 25px;
  margin-bottom: 10px;
}

h4 {
  font-size: 14px;
  font-weight: normal;
  padding-top: 0px;
  color : #233c51;
  margin: 0px;
  margin-top: 25px;
  margin-bottom: 10px;
}


h5 {
  font-size: 14px;
  font-weight: normal;
  padding-top: 0px;
  color : #233c51;
  margin: 0px;
  margin-top: 25px;
  margin-bottom: 10px;
}


h6 {
  font-size: 13px;
  font-weight: normal;
  padding-top: 0px;
  color : #233c51;
  margin: 0px;
  margin-top: 25px;
  margin-bottom: 10px;
}

div.titlepage h2.title { 
   margin-top: 30px;
}

div.table  {
   text-align: center;
}

div.table p { 
   font-weight: normal;
   font-size: 12px;
   color: #666;
}

div.informaltable {
   text-align: left;
}

table { 
   border: solid 1px #bbb;
   margin: auto;
}

th { 
  border-bottom: solid 1px #bbb;
}

td code.literal { 
   font-weight: bold;
   color: #444;
}

td { 
   padding: 4px;
   font-size: 13px;
   border: none;
   margin: 0px;
}

h2.title { 
     font-size: 13pt;
 }

div.toc { 
   background-color: #eeeeee;
   border: solid 1px #bbbbbb;
   padding: 10px;
   padding-left: 20px;
   color: #333333;
   margin: 30px;
}

div.section  { 
}

div.section h3 { 
   margin-top: 30px;
}

div.section h4 { 
   margin-top: 30px;
}

div.chapter { 
   margin-top: 40px;
}


div.toc a { 
   color: #333333;
   text-decoration: none;
}

a,:link, :visited { 
   color: #333333;
}

div.navheader table, div.navfooter table { 
  font-size: 9pt;
  border: none;
}

div.navheader table td,th { 
  font-size: 9pt;
  border: none;
}


//div.navfooter table { 
//  font-size: 9pt;
//}

div.titlepage { 
//   padding: 40px;
//   text-align: center;
   width: 800px;
}

div.titlepage h1.title { 
   margin-top: 30px;
}

div.titlepage hr { 
   display: none;
}

div.list-of-tables { 
   display: none;
}

div.warning { 
  background-color: #ffcccc;
  border: solid 1px #996666;
  color: #663333;
  padding: 10px;
}

div.warning h3.title { 
  font-size: 10pt;
  font-weight: bold;
  background-color: #ffcccc;
  color: #663333;
  margin-top:0px;
  padding:0px;
}


div.important { 
  background-color: #ffffcc;
  border: solid 1px #cccc99;
  color: #666633;
  padding: 10px;
  padding-bottom: 0px;
}

div.important h3.title { 
  font-size: 10pt;
  font-weight: bold;
  background-color: #ffffcc;
  color: #666633;
  margin-top:0px;
  padding:0px;
}


#wrapper {
  height: 100%;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  background: white;
}

#header {
  background: #e0e0e0 url( 'images/wall_background.png' ) repeat-x top left;
  color: black;
  font-weight: normal;
  height: 100px;
  text-align: left;
  margin: 0px;
  position: relative;
  padding-right: 10px;
}
#body {
  background: white;
//  border-left: solid 1px #d0d0d0; 
//  border-right: solid 1px #d0d0d0; 
}
#content {
  background: white;
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 30px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 20px;
  height: auto;
}
#sidebar {
  margin:auto; /* dann brauchst du die tabelle nicht mehr */ 
//  background-color: #f8f8f8;
  background-color: white;
  float: left;
  width: 240px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  font-size: 12px;
  border-right: solid 1px #d0d0d0; 
  //background: white url('images/sidebar_bg.png') repeat-y top right;
}
#footer {
  background: gray url('images/footer.jpg') repeat-x bottom left;
  clear: both;
  text-align: center;
  font-size: 11px;
  padding: 8px;
  color: gray;
  float: right;
  margin: 0px;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: solid #e0e0e0 1px;
  text-align: right;
  font-size: 8pt;
  clear: both;
  color: #404040;
  border-top:solid gray 1px; 
  background-image: url('images/wall_toolbar_bg.png');
  width: 1008px;
}
#footer a {
  color: #404040;
}
#footer a:hover {
  color: #808080;
}
.sidebarItem {
//  background: white;
  margin-top: 0px;
  margin-bottom: 16px;
}
.sidebarItemTitle {
  text-align: left;
  font-size: 12pt;
  font-weight: normal;
  //background: white url('images/wall_title_bg.png') repeat-x left top;
  background-color: #efefef;
  color: #233c51;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 2px;
  height: 20px;
  border-top: solid 1px #d0d0d0;
  border-bottom: solid 1px #e0e0e0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 8px;
}
.sidebarItemTitle span a {
  color: white;
}
.sidebarItemBody {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 18px;
  padding-right: 8px;
}
.sidebarItem ul {
  margin: 0px;
  margin-left: 10px;
  padding-left: 8px;
  padding-right: 8px;
}
.sidebarItem li {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 8px;
  list-style-type: none;
}

a:link {
  color : #233c51;
//  color: #507110;
}
a:visited {
  color : #233c51;
//  color: #404040;
//  color: #404040;
//  color: #507110;
}

.contentItem {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  background: white;
  min-height: 100%;
}
.contentItemBody {
  line-height: 1.6;
  font-size: 10pt;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 00px;
  text-align: justify;
}
.contentItemLinks {
  float: right;
  text-align: right;
  font-size: 11px;
  color: gray;
}
.contentItemLinks form {
  padding: 0px;
  margin: 0px;
}
.contentItemLinks a {
  color: gray;
}
.even {
  background: #F4F4F4;
}
.odd {
  background: white;
}
.small {
  font-size: 11px;
}

.codeSample {
  font-family: Courier, sans-serif;
  font-size: 11px;
  border: solid #F0F0F0 1px;
  text-align: left;
  background: #F8F8F8;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  overflow: auto;
}

#linearNavigation {
  background: black;
  padding: 6px;
  color: white;
  text-align: center;
  text-align: left;
  position: relative;
  height: 24px;
//  background-color: #a0a0a0;
  background-image: url('images/wall_toolbar_bg.png');
  padding:0px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  padding-top: 2px;
  
  border-top: solid gray 1px;
  border-bottom: solid gray 1px;
}
#linearNavigation a {
  color: white;
  text-decoration: none;
}
#linearNavigation a:hover {
  text-decoration: underline;
}
#feeds {
  position: absolute;
  top: 8px;
  right: 8px;
  color: white;
}
#feeds a {
  color: white;
  text-decoration: none;
}
#feeds a:hover {
  text-decoration: underline;
}
thead {
  text-align: left;
  background: #6e7d8e;
  color: white;
}
th, th a:link, th a:visited {
  font-weight: normal;
  color: white;
}
.authenticated {
  background: transparent url( 'images/authenticated.gif' ) no-repeat center left;
  padding-left: 10px;
}
.unauthenticated {
}

.MenuNav {
   font-size: 10pt;
   color: #b0b0b0;
   text-decoration: none;
}

a.MenuNav:hover {
   text-decoration: underline;
}

ul {
   //border: solid 1px red;
   padding-left: 10px;
   margin-left: 10px;	
}



ul li {
   padding-left: 4px;
   list-style-image: url('images/jwall_list_bullet.png');
   list-style-image: url('images/list_bullet_green5x5.png');
   //list-style-position: inside;
}

ol li { 
  list-style-image: none;
}

pre {
   background-color: #e0e0e0;
   border: solid 1px #b0b0b0;
   padding: 10px;
   margin: 10px;
   margin-left: 20px;
   font-size: 9pt;
//   white-space: normal;
}

pre.code code {
   background-color: #e0e0e0;
   border: solid 1px #b0b0b0;
   padding: 10px;
   margin: 10px;
   margin-left: 20px;
   white-space: normal;
}


div.navfooter table, div.navheader table {
   font-size: 11px;
}


div.navheader hr, div.navfooter hr {
   height: 1px;
   size: 1px;
   border: none;
   border-top: solid 1px #b0b0b0;
}
