body, div, p {
  font-size: 14px;
}

#banner {
  background-image: url('../images/jwall_background.png');
  background-repeat: repeat-x;
  height: 90px;
  background-color: #669900;
  margin: 0px;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-top: 10px;
  color: white;
}
